:root {
  --spacing-xxsmall: 4px;
  --spacing-xsmall: 8px;
  --spacing-small: 12px;
  --spacing-base: 16px;
  --spacing-medium: 20px;
  --spacing-large: 24px;
  --spacing-xlarge: 28px;
  --spacing-xxlarge: 32px;
  --spacing-xxxlarge: 40px;
  --spacing-xxxxlarge: 48px;
  --spacing-giant: 64px;
  --spacing-xgiant: 80px;
  --text-small: 14px;
  --text-medium: 18px;
  --text-large: 36px;
  --color-dark: #0e1317;
  --color-blue: #4651e5;
  --color-white: #fefefe;
  --color-gray: #929495;
  --font-weight-regular: 400px;
  --font-weight-medium: 500px;
  --font-weight-bold: 600px;
  --border-blue: 3px solid var(--color-blue);
  --border-white: 3px solid var(--color-white);
}

/* reset */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0e1317;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/* header */
.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-base);
  position: fixed;
  top: 0;
  background-color: var(--color-dark);
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.social a {
  margin-right: var(--spacing-xlarge);
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.page-label {
  order: 1;
  width: 10%;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: var(--text-small);
  font-weight: var(--font-weight-bold);
}

.page-label div {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.container {
  order: 2;
  width: 80%;
}

.page-nav {
  order: 3;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
}

.circle-nav::before {
  content: "";
  display: block;
  width: var(--spacing-small);
  height: var(--spacing-small);
  border-radius: 100%;
  background-color: var(--color-gray);
  margin-top: var(--spacing-xlarge);
  margin-bottom: var(--spacing-xlarge);
}

.circle-nav.circle-nav-current::before {
  background-color: var(--color-blue);
}

#home,
#about-me,
#experiences,
#projects {
  min-height: 100vh;
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

@media (max-width: 767.98px) {
  #home,
  #about-me,
  #experiences,
  #projects {
    padding: 0;
  }

  .social a {
    margin-right: var(--spacing-medium);
  }

  .social a > img {
    width: var(--spacing-large);
    height: var(--spacing-large);
  }

  .menu a > img {
    width: var(--spacing-xlarge);
    height: var(--spacing-xlarge);
  }
}

/*home*/
#home {
  align-items: start;
  flex-direction: column;
  color: var(--color-white);
}

.current-section {
  background-color: var(--color-blue);
}

.description {
  width: 60%;
}

/* @todo: convert all to rem and em */
.description-greeting {
  font-size: var(--text-large);
}

.description-carrer,
.description-technologies {
  font-size: var(--text-medium);
}

.description-carrer {
  padding-top: var(--spacing-xxxxlarge);
  padding-bottom: var(--spacing-xxxxlarge);
}

.home-links {
  display: flex;
  margin-top: calc(var(--spacing-xxxlarge) * 2);
  flex-wrap: nowrap;
}

.home-links > a:first-child {
  margin-right: var(--spacing-base);
}

.button.button-outline {
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-blue);
  transition: 0.2s;
}

.button.button-outline:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.button {
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  width: calc(var(--spacing-xxxlarge) * 3);
  height: var(--spacing-xxxlarge);
  line-height: calc(var(--spacing-xxlarge) + var(--spacing-xxsmall));
  font-size: var(--text-small);
  border: var(--border-blue);
  background-color: var(--color-blue);
  color: var(--color-white);
}

@media (max-width: 575.98px) {
  .description {
    width: 100%;
  }

  .home-links {
    justify-content: space-between;
  }

  .home-links > a:first-child {
    margin: 0;
  }
}

/* about-me */
#about-me {
  flex-direction: row;
  align-items: center;
}

.about-me-avatar,
.about-me-description {
  width: 50%;
  display: flex;
  justify-content: center;
}

.about-me-avatar > img {
  width: 300px;
  border-radius: 100%;
  border: var(--border-white);
}

.about-me-description {
  flex-direction: column;
}

.about-me-description p:first-of-type {
  padding-top: var(--spacing-xxxxlarge);
  padding-bottom: var(--spacing-xxxxlarge);
}

.about-me-description > p {
  font-size: var(--text-medium);
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .about-me-avatar > img {
    max-width: 250px;
  }
}

@media (max-width: 767.98px) {
  #about-me {
    flex-direction: column;
    padding: 0;
  }

  .about-me-avatar,
  .about-me-description {
    width: 100%;
  }

  .about-me-description {
    margin-top: var(--spacing-xlarge);
    text-align: center;
  }

  .about-me-avatar > img {
    width: 200px;
  }
}

/* experiences */
#experiences {
  flex-direction: column;
}

#experiences > h2 {
  margin-top: 60px;
  margin-bottom: 120px;
}

.experiences {
  padding-bottom: var(--spacing-xxlarge);
}

.experiences-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experiences-timeline {
  width: 50%;
}
.experiences-mosaic {
  width: 40%;
  position: relative;
  font-size: var(--text-small);
}

.experiences-mosaic {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(217, 217, 208);
  background: radial-gradient(
    circle,
    rgba(217, 217, 208, 0.1) 0%,
    rgba(14, 19, 23, 1) 40%
  );
}

.experience-title > h3 {
  margin: 0;
}

.experience-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--spacing-xxxlarge);
}

.experience-subtitle {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.experience-description {
  color: var(--color-gray);
}

.current-experience {
  color: var(--color-blue);
}

/* https://codepen.io/traceypooh/pen/pWjOdq */
.experiences-mosaic::after {
  content: "";
  position: absolute;
  filter: blur(var(--spacing-base));
  border-radius: 300px;
}

@media (max-width: 768px) {
  #experiences {
    padding: 0;
  }
  .experiences-mosaic {
    display: none;
  }

  .experiences-timeline {
    width: 100%;
  }
}
