@import "../../styles/variables";

.button-outline {
  background-color: rgba(0, 0, 0, 0);
  color: $color-blue;
  transition: 0.2s;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
  }
}

.button {
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  width: calc($spacing-xxxlarge * 3);
  height: $spacing-xxxlarge;
  line-height: calc($spacing-xxlarge + $spacing-xxsmall);
  font-size: $text-small;
  border: $border-blue;
  background-color: $color-blue;
  color: $color-white;
}
