$spacing-xxsmall: 4px;
$spacing-xsmall: 8px;
$spacing-small: 12px;
$spacing-base: 16px;
$spacing-medium: 20px;
$spacing-large: 24px;
$spacing-xlarge: 28px;
$spacing-xxlarge: 32px;
$spacing-xxxlarge: 40px;
$spacing-xxxxlarge: 48px;
$spacing-giant: 64px;
$spacing-xgiant: 80px;
$text-small: 14px;
$text-medium: 18px;
$text-large: 36px;
$color-dark: #0e1317;
$color-blue: #4651e5;
$color-white: #fefefe;
$color-gray: #929495;
$font-weight-regular: 400px;
$font-weight-medium: 500px;
$font-weight-bold: 600px;
$border-blue: 3px solid var($color-blue);
$border-white: 3px solid var($color-white);

:export {
  spacingXxsmall: $spacing-xxsmall;
  spacingXsmall: $spacing-xsmall;
  spacingSmall: $spacing-small;
  spacingBase: $spacing-base;
  spacingMedium: $spacing-medium;
  spacingLarge: $spacing-large;
  spacingXlarge: $spacing-xlarge;
  spacingXxlarge: $spacing-xxlarge;
  spacingXxxlarge: $spacing-xxxlarge;
  spacingXxxxlarge: $spacing-xxxxlarge;
  spacingGiant: $spacing-giant;
  spacingXgiant: $spacing-xgiant;
  textSmall: $text-small;
  textMedium: $text-medium;
  textLarge: $text-large;
  colorDark: $color-dark;
  colorBlue: $color-blue;
  colorWhite: $color-white;
  colorGray: $color-gray;
  fontWeightRegular: $font-weight-regular;
  fontWeightMedium: $font-weight-medium;
  fontWeightBold: $font-weight-bold;
  borderBlue: $border-blue;
  borderWhite: $border-white;
}
