@import "../styles/variables";

/* header */
.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: $spacing-base;
  position: fixed;
  top: 0;
  background-color: $color-dark;
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  a {
    margin-right: $spacing-large;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.page-label {
  order: 1;
  width: 10%;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  color: $color-white;
  font-size: $text-small;
  font-weight: $font-weight-bold;

  div {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}

.container {
  order: 2;
  width: 80%;
}

.page-nav {
  order: 3;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
}

.circle-nav::before {
  content: "";
  display: block;
  width: $spacing-small;
  height: $spacing-small;
  border-radius: 100%;
  background-color: $color-gray;
  margin-top: $spacing-xlarge;
  margin-bottom: $spacing-xlarge;
}

.circle-nav-current::before {
  background-color: $color-blue;
}

#home,
#about-me,
#experiences,
#projects {
  min-height: 100vh;
  color: $color-white;
  display: flex;
  justify-content: center;

  @media (max-width: 767.98px) {
    #home,
    #about-me,
    #experiences,
    #projects {
      padding: 0;
    }

    .social a {
      margin-right: $spacing-medium;
    }

    .social a > img {
      width: $spacing-large;
      height: $spacing-large;
    }

    .menu a > img {
      width: $spacing-xlarge;
      height: $spacing-xlarge;
    }
  }
}

// /*home*/
#home {
  align-items: start;
  flex-direction: column;
  color: $color-white;
}

.current-section {
  background-color: $color-blue;
}

.description {
  width: 60%;
}

// /* @todo: convert all to rem and em */
.description-greeting {
  font-size: $text-large;
}

.description-technologies {
  font-size: $text-medium;
}

.description-carrer {
  padding-top: $spacing-xxxxlarge;
  padding-bottom: $spacing-xxxxlarge;
}

.home-links {
  display: flex;
  margin-top: calc($spacing-xxlarge * 2);
  flex-wrap: nowrap;
}

.home-links > a:first-child {
  margin-right: $spacing-base;
}

.button .button-outline {
  background-color: rgba(0, 0, 0, 0);
  color: $color-blue;
  transition: 0.2s;
}

.button .button-outline:hover {
  color: $color-white;
  background-color: $color-blue;
}

.button {
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  width: calc($spacing-xxxlarge * 3);
  height: $spacing-xxxlarge;
  line-height: calc($spacing-xxlarge + $spacing-xxsmall);
  font-size: $text-small;
  border: $border-blue;
  background-color: $color-blue;
  color: $color-white;
}

@media (max-width: 575.98px) {
  .description {
    width: 100%;
  }

  .home-links {
    justify-content: space-between;
  }

  .home-links > a:first-child {
    margin: 0;
  }
}

// /* about-me */
.about-me {
  width: 50%;
  padding-left: 80px;

  p {
    text-align: justify;
  }
}

.about-me-avatar {
  float: left;
  shape-outside: circle();
  padding: 20px;

  > img {
    border-radius: 50%;
    border: var(--border-white);
  }
}

.about-me-description {
  p {
    font-size: var(--text-medium);

    &:first-of-type {
      padding-top: $spacing-xxxxlarge;
      padding-bottom: $spacing-xxxxlarge;
    }
  }
}

@media (max-width: 768px) {
  .about-me {
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-me-avatar {
    float: none;
    padding-bottom: 10px;
    shape-outside: none;
  }
}

// /* experiences */
#experiences {
  flex-direction: column;
}

.experiences {
  padding-bottom: $spacing-xxlarge;
}

.experiences-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.experiences-timeline {
  width: 50%;
}

.experiences-mosaic {
  width: 40%;
  position: relative;
  font-size: $text-small;
}

.experiences-mosaic {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(217, 217, 208);
  background: radial-gradient(
    circle,
    rgba(217, 217, 208, 0.1) 0%,
    rgba(14, 19, 23, 1) 40%
  );
}

.experience-title > h3 {
  margin: 0;
}

.experience-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: $spacing-xlarge;
}

.experience-subtitle {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.experience-description {
  color: $color-gray;

  ul li {
    padding-bottom: $spacing-base;
  }
}

.current-experience {
  color: $color-blue;
}

@media (max-width: 768px) {
  #experiences {
    padding: 0;
  }
  .experiences-mosaic {
    display: none;
  }

  .experiences-timeline {
    width: 100%;
  }
}
